@import "base/reset";
@import "base/normalize";

// base styles
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1030px;
    height: 100vh;
    padding: 0 15px;
    margin: 0 auto;
    background-color: f1fbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// calculator styles
.calculator {
    width: 300px;
    height: 300px;
    padding: 10px 5px 0px;
    border: 1px solid black;
    background-color: #000000;
    background-image: linear-gradient(0deg, #2a2a2a 78%, #f0f5f5 90%, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__display {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        height: 50px;
        width: 100%;
        // background-color: rgb(127, 138, 70);
        background-color: rgb(84, 94, 34);
        box-shadow: 0px 0px 50px #000000ee inset;
        text-shadow: 0px 0px 20px #ffff0022;
        margin-bottom: 20px;
        font-family: 'Digital-7 Italic', sans-serif;
        font-size: 34px;
        font-weight: bold;
        color: rgb(7, 180, 59);
        filter: brightness(1.35);
        text-shadow: 0px 0px 14px rgb(7, 180, 59, 1);
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        column-gap: 5px;
        &-top button {
            padding: 5px;
        }

        &-numbers {
            gap: 4px;
            display: grid;
            grid-template-columns: repeat(3, 50px);
            grid-template-rows: repeat(4, 50px);
            font-size: 24px;
        }

        &-operators {
            gap: 4px;
            display: grid;
            grid-template-columns: repeat(1, 50px);
            grid-template-rows: repeat(4, 50px);
        }

        &-button {
            background-color: grey;
            color: white;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);

            &:hover {
                transform: scale(.98);
                transform: translateY(-1px);
            }
        }
    }
}

// buttons effects
.active {
    position: relative;
    top: 2px;
    transform: scale(.95);
    opacity: .8;
}